{% extends '_base.html' %}
{% block body %}
    <table id="tb-molecules">
        <tr>
            <th>#No</th>
            <th>SMILES</th>
            <th>T</th>
            <th>P</th>
            <th>Density</th>
            <th>Weight</th>
            <th>Hvap</th>
            <th>Weight</th>
            <th>Formula</th>
            <th>CID</th>
        </tr>
        {% for mol in molecules %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ mol.smiles }}</td>
                {% if mol.Tm25 != None %}
                    <td>{{ mol.Tm25 | rint }}</td>
                    <td>{{ mol.get_pvap(mol.Tm25) | rint or '' }}</td>
                    <td>{{ mol.get_density(mol.Tm25) | r(3) or '' }}</td>
                    <td>1.0</td>
                    <td>{{ mol.get_hvap(mol.Tm25) | r(1) or '' }}</td>
                    <td>0.2</td>
                    <td>{{ mol.formula }}</td>
                    <td>{{ mol.content_id }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ mol.smiles }}</td>
                {% if mol.Tvap != None %}
                    <td>{{ mol.Tvap | rint }}</td>
                    <td>{{ mol.get_pvap(mol.Tvap) | rint or '' }}</td>
                    <td>{{ mol.get_density(mol.Tvap) | r(3) or '' }}</td>
                    <td>1.0</td>
                    <td>{{ mol.get_hvap(mol.Tvap) | r(1) or '' }}</td>
                    <td>0.2</td>
                {% endif %}
            </tr>
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ mol.smiles }}</td>
                {% if mol.Tcx8 != None %}
                    <td>{{ (mol.Tcx8) | rint }}</td>
                    <td>{{ mol.get_pvap(mol.Tcx8) | rint or '' }}</td>
                    <td>{{ mol.get_density(mol.Tcx8) | r(3) or '' }}</td>
                    <td>1.0</td>
                    <td>{{ mol.get_hvap(mol.Tcx8) | r(1) or '' }}</td>
                    <td>0.0</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
